
.sidebar {
    width: 240px;
    background-color: #333;
    color: white;
    height: 97.18vh;
    padding-top: 20px;
    position: fixed;
}
.sidebar h2 {
    text-align: center;
    padding: 15px 0px 0px 0px;
    margin-bottom: 5px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    padding: 10px 20px;
}
.sidebar li a {
    color: white;
    text-decoration: none;
    display: block;
}
.sidebar li:hover {
    background-color: #555;
}

@media (min-width: 1440px) {
    .container{
        margin: 0 0 0 260px;
    }
}

@media (max-width: 1440px) {
    .container{
        margin: 0 0 0 245px;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 150px 0 0 0;
    }
    .sidebar {
        width: 100%;
        height: auto;
        z-index: 1;
        position: absolute;
    }
    .sidebar ul {
        display: flex;
        justify-content: space-around;
    }
    .sidebar li {
        padding: 10px;
    }
}